streamlit==1.35.0
pandas
numpy
openpyxl
pillow
opencv-python-headless
imagehash
rapidfuzz
scikit-learn
requests
transformers
torch
torchvision
pytesseract
selenium
webdriver-manager
undetected-chromedriver
google-generativeai
mistralai